<form [formGroup]="signupForm" (submit)="signup()" autocomplete="new-password">
    <h1>Sign Up</h1>
    
    <div class="form-control">
        <label for="email">User Name</label>
        <input
          formControlName="username"
          id="username"
          autocomplete="new-password"
          type="text"
        />
      </div>

    <div class="form-control">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        autocomplete="new-password"
        type="email"
      />
    </div>
  
    <div class="form-control">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        autocomplete="new-password"
        type="password"
      />
    </div>

    <div class="form-control">
        <label for="email">Mobile No</label>
        <input
          formControlName="mobNo"
          id="mobNo"
          autocomplete="new-password"
          type="text"
        />
      </div>
  
    <button class="btn btn-success" type="submit" [routerLink]="['/login']" [disabled]="signupForm.invalid">Signup &#8594;</button>
    
  </form>